.blog {
    background: white;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
}
.blog_title {
    font-size: 24px;
    font-weight: 600;
}
.blog_msg {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.blog_content {
    padding: 0 10px 20px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.send_comments {
    background: #f5f5f5;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
    margin-top: 50px;
}
.send_comments input {
    width: 300px;
    height: 34px;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin: 10px 0;
    font-size: 14px;
}
.send_comments textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
}
.send_comments button {
    width:100px;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 14px;
}
.send_comments button:hover {
    background: #abcdef;
}
.blog_comments {
    padding: 10px 0;
    margin-top: 10px;
    text-align: left;
}
.blog_comments > .message {
    padding: 10px 10px 20px;
    margin: 10px 0;
    background-color: #d9edf7;
    border: 1px dashed #7ca4c1;
    color: #31708f;
    font-size: 14px;
}
.blog_comments > .message > .mes_top {
    margin: 5px;
    height: 40px;
}
.message > .mes_top > img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
}
.message > .mes_top > a {
    color: #31708f;
}